body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar {
    min-height: 100vh;
    /* Ensure the body takes up the full viewport height */
    margin: 0;
    /* Remove default margin */
    padding: 40px;
    background-color: aliceblue;
}

.category-item {
    display: flex;
    padding: 10px;
    /* margin-bottom: 10px; */
    justify-content: space-between;
}

.category-list-name a {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.category-list-name a {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.category-list-name a:hover {
    text-decoration: underline;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
}

/* Apply the animation to the product class */
.product-item {
    margin: 20px;
    animation: slideIn 0.8s ease-out;
}

/* Define the slide-in animation */
@keyframes slideIn {
    from {
        transform: translateX(200%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


/* Add delays for each product item */
/* .product-item:nth-child(1) {
    animation-delay: 0s;
}

.product-item:nth-child(2) {
    animation-delay: 0.2s;
}

.product-item:nth-child(3) {
    animation-delay: 0.4s;
}

.product-item:nth-child(4) {
    animation-delay: 0.6s;
} */

/* Ensure animation fills forwards */
.product-item {
    animation-fill-mode: forwards;
}